    body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo-name {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.company-name {
    font-size: 24px;
    margin-left: 10px;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu-item {
    display: inline-block;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none; 
    color: #fff; 
}

.menu-item.active {
    background-color: #22546d;
}

.content {
    display: flex;
    justify-content: flex-start; /* Align items to the start (left) */
    align-items: center;
    height: 100vh;
    padding-left: 20px; /* Add padding to the left of the content */
}

.analysis-form {
    background-color: #111;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    color: #fff;
    margin-left: 50px;
    min-height: 45%;
    max-height: 65%;
}

.analysis-form h2 {
    margin-top: 0;
    color: #fff;
}

.analysis-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #fff;
}

.analysis-form input, .analysis-form select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #111;
    border-radius: 5px;
    box-sizing: border-box;
    color: #000;
}

.analysis-button {
    text-align: center;
    margin: 20px 0;
}

.analysis-button button {
    padding: 10px 20px;
    background-color: #22546d;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.analysis-results {
    background-color: #111;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 65%;
    width: 100%;
    color: #fff;
    margin-left: 50px;
    min-height: 45%;
    max-height: 45%;
    position: relative;
}

.analysis-results h2 {
    margin-top: 0;
    color: #fff;
}

.table-container{
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 10%;
}

/* Table styles */
.analysis-results table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

/* Table header styles */
.analysis-results th {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #444;
}

/* Table body styles */
.analysis-results td {
    padding: 10px;
    border-bottom: 1px solid #444;
}

/* Table row hover effect */
.analysis-results tr:hover {
    background-color: #222;
}

/* Align text within table cells */
.analysis-results td, .analysis-results th {
    text-align: left;
    vertical-align: middle;
}

/* Table spacing */
.analysis-results table, .analysis-results th, .analysis-results td {
    border: 1px solid #444;
}

.save-button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10%;
}

.save-button button {
    padding: 10px 20px;
    background-color: #22546d;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}